<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Nest- Email Verified</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex items-center justify-center bg-gray-100">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-[#DB4444]">
        <%= confirmEmailMessage %>
      </h1>
    </div>
  </body>
</html>